{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fessamak Analytics</title>

    <!-- Bootstrap core CSS -->
<!--<link href="{% static 'css/bootstrap1.min.css' %}" rel="stylesheet">-->
<link href="{% static 'css/flexslider1.css' %}" rel="stylesheet">
<link href="{% static 'css/style1.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome.min1.css' %}" rel="stylesheet">
<link href="{% static 'css/lightbox1.css' %}" rel="stylesheet">

<link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'index/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'index/css/agency.min.css' %}" rel="stylesheet">

  </head>
  

  <body id="page-top">
    
    <div style="background-image:url(../img/st.jpeg);
                background-repeat:no-repeat;
                background-attachment:scroll;
               background-position:center center;">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Fessamak Analytics</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in"></div>
               <div class="intro-heading">Its all about data analysis!</div>
         </div>
      </div>
    </header>
    </div>
<!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">We offer the following services.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Website Development</h4>
            <p class="text-muted">We help youth to realize there dreams through training them.We also help youth to choose their career paths wisely.This is through holding of career guidance sessions led by professionals and mentors</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Data Analysis</h4>
            <p class="text-muted">Having passion in environmental conservation,also we incubate ideas related to environmental conservation.Organize events,rallies and campaigns on environmental conservations.This will be made to success with interested parties</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Trainings on data analysis</h4>
            <p class="text-muted">To enable fresh graduates have the knowledge needed in the market,we partner with employers in various fields who will offer training to our members to impart them with the skills required</p>
          </div>
        </div>
      </div>
    </section>
    
<!-- about us -->
    <section class="bg-light" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
            <h3 class="section-subheading text-muted">Lets get in touch...</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <p>Our Company is comprised of 5 dedicated members with strong statistical background.We came up with the organization inorder to bridge the gap between data collected and how to make the data useful to people having the data.Data is the current gold as it is useful in each and every organization for various reasons including prediction of the future prospects of the organization.We do data cleaning,sorting,analysis and interpretation of the data.Also we do offer website development services at affordable prices.The organization was formed two years ago.We have been undergoing trainings and workshops related to data and the power it has</p>
          </div>
          <div class="col-md-5 col-md-push-1">
           <!--<video width=”320” height=”240” controls=”controls”>
            <source src="{% static 'web.mp4' %}" type="mp4" />
             </video> -->
            <video width="340" height="280"  autoplay>
                <source src="{% static 'web.mp4' %}" type="video/mp4">
            </video> 
          
          </div>
        </div>
      </div>
      </div>
   </section>



   <section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <h3 class="section-subheading text-muted">Our organization is composed of 5 industrious members with consolidated statistical background who are always dedicated to have the best services to you</h3>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/kevin.jpg' %}" alt="card image"></p>
                                    <h4 class="card-title">KEVIN OCHIENG'</h4>
                                    <p class="card-text">GENERAL MANAGER</p>
                                    <p>
                                    <ul>
                                      <li>Ensuring the smooth functioning of the Management Committee</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <P><h4 class="card-title">KEVIN OCHIENG'</h4></P>
                                    <p class="card-text">GENERAL MANAGER</p>
                                    </ul>
                                    </p>
                                    <ul class="list-inline social-icons1">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/saron.jpg' %}" alt="card image"></p>
                                    <h4 class="card-title">SHARON AMBASA</h4>
                                    <p class="card-text">SECRETARY GENERAL</p>
                                    <p>
                                    <ul>
                                      <li>Ensuring the smooth functioning of the Management Committee</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title"></p>
                                    <ul class="list-inline social-icons1">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/martin.jpg' %}" alt="card image"></p>
                                    <h4 class="card-title">MARTIN THUITA</h4>
                                    <p class="card-text">DATA MANAGER</p>
                                    <p>
                                    <ul>
                                      <li>Responsible for organizing, storing and analyzing data as efficiently </li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">MARTIN THUITA</h4>
                                    <p class="card-text">Martin Thuita,one of our best advisor when it comes to issues on the  future and growth of our organization.Man of wisdom who is optimistic and hardworking</p>
                                    <ul class="list-inline social-icons1">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"src="{% static 'images/kemboi.jpg' %}" alt="card image"></p>
                                    <h4 class="card-title">FELEX KEMBOI</h4>
                                    <p class="card-text">FULL STACK DEVELOPER</p>
                                    <p>Responsible for website development and related responsibilities</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">Passionate about Tech,loves people and always work into meeting clients' satsfaction</p>
                                    <ul class="list-inline social-icons1">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/sam.jpg' %}" alt="card image"></p>
                                    <h4 class="card-title">Samuel Mweni</h4>
                                    <p class="card-text">
                                        <p>SALES AND MARKETING MANAGER</p>
                                        <p>Project planning and marketing</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Samuel Mweni</h4>
                                    <p class="card-text">Samuel is TechPrenuer who is passionate about Tech.Samuel has got a good statistical background.He is an hardworking gentleman who is alway good in team building and we love working with him</p>
                                    <ul class="list-inline social-icons1">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->
  
   <section id="contact">
      <div class="container"  style="color: white;">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h2 class="section-subheading text-muted">Lets get in touch...</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <form class="probootstrap-form" action="/email/" method="get">
             <!-- <h2 class="text-black mt0">Get In Touch</h2>-->
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="phone" placeholder="Your Phone">
              </div>
              <div class="form-group">
                <textarea class="form-control"cols="30" rows="10"name = "message" placeholder="Write a Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Send Message">
              </div>
            </form>
          </div>
          <div class="col-md-5 col-md-push-1">
            <ul class="probootstrap-contact-details">
              <li>
                <p style="padding-bottom:30px;"><span><h3>Email: teamdata@gmail.com</h3></span></p>
              </li>
              <li>
                <p style="padding-bottom:30px;"><span><h3>Phone:  +254722116291</h3></span></p>
              </li>
              <li>
                <p style="padding-bottom:30px;"><h3><span>Address:   Majengo,Opposite MoiAvenue,Mombasa, Kenya</span></span></p>
              </li>
              <div class="row">
              <div class="social">
                  <a class="facebook" href="#" data-tooltip="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                  <a class="twitter" href="#" data-tooltip="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                  <a class="google" href="#" data-tooltip="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#" data-tooltip="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>




   <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy;Designed by Kemboi</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/kiplimo.kemboi.71">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
            
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'index/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'index/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'index/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'index/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'index/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'index/js/agency.min.js' %}"></script>

  </body>

</html>
